body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4 !important;
  font-family: Helvetica, sans-serif;
  padding: 150px 0 40px 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
